
# Virtual environment
freelancenv/
__pycache__/
.env/
venv/
.env

# Migrations (optional if you want to avoid merging conflicts with teammates)
# Comment this out if you want to keep migration files
**/migrations/
!**/migrations/__init__.py