{% extends 'base.html' %}

{% block title %}Freelancer Dashboard{% endblock %}
{% block heading %}Freelancer Dashboard{% endblock %}

{% block content %}
    <style>
        .button-group {
            display: flex;
            gap: 12px;
        }

        .btn {
            padding: 10px 18px;
            font-size: 14px;
            background: none;
            border: 1px solid #000;
            color: #000;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
        }

        .btn:hover {
            background: #f2f2f2;
        }
    </style>
    <div class="button-group">
        
        <a href="{% url 'tasks:create_task' %}" class="btn">Create Task</a>
        <a href="{% url 'tasks:my_task' %}" class="btn">My Tasks</a>
        <a href="{% url 'tasks:members' %}" class="btn">Invited Clients</a>

    </div>
{% endblock %}
